---
name: Sync DOCS.md with README.md

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
    paths:
      - "README.md"
      - "home-assistant-streamdeck-yaml/DOCS.md"
      - ".github/workflows/sync_docs.yml"

jobs:
  sync_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install emoji library
        run: |
          pip install emoji

      - name: Sync DOCS.md with README.md
        run: |
          cp README.md home-assistant-streamdeck-yaml/DOCS.md
          python .github/workflows/replace_emojis.py

      - name: Commit changes
        run: |
          git add home-assistant-streamdeck-yaml/DOCS.md
          git config --local user.email \
            "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git diff --quiet && git diff --staged --quiet \
            || git commit -m "Update DOCS.md from README.md"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
